################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/reports/.vs/reports/v16/Browse.VC.opendb
/reports/.vs/reports/v16
